header {
	background: blue;
	text-align: center;
	font-size: 24px;
	color: white;
	height: 120px;
	padding-right: 16px;
	margin-top: -35px;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 15px;
}

#left {
	background: #F0F8FF;
	height: 400px;
	width: 225px;
	float: left;
	margin-left: -8px;
	padding-left: 10px;
}

#right {
	background: #F0F8FF;
	height: 400px;
	width: 150px;
	float: right;
	margin-right: -8px;
	padding-left: 10px;
	padding-right: 15px;
}

footer {
	position: fixed;
	background: black;
	color: white;
	height: 15px;
	width: 100%;
	bottom:0;
	margin-left: -8px;
	text-align: center;
	padding-bottom: 25px;
}


h2{
	margin-left:250px;
}

h2:hover {
	color: #9E0E1F;
}

a:hover {
	background-color: #82000F;
}

p {
	padding: 5px 195px 0 240px;
}

#firstimg {
	height: 300px;
	width: 600px;
	float: middle;
	margin-top: 100px;
	padding-left: 450px;
}

#firstvid {
	height: 360px;
	width: 640px;
	float:left;
}

nav {
	font-size: 20px;
}

#firstaudio {
	padding-left: 230px;
	float: left;
}

#song {
	text-align: left;
	padding-top: 400px;
}

#list{
	float:left;
	padding-left: 10px;
	color: blue;
	font: italic small-caps bold 13px/2 cursive;	
}

.seriimgs{	
	float:left;
}
#ser2img{
	margin-top: 50px;
	height: 640px;
	width:940px;
	float: right;	
}
#ser1img{
	margin-top: 50px;
	height: 640px;
	width:940px;
	float: right;	
}

#firstable{
	float:right;
	margin-right:200px;
	margin-top:-35px;
}

#tableimg{
	height:100px;
	width:100px;	
}

button{	
	margin-top: 100px;
}


