* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


#left {
	width: 10%;
	float: left;
	height: 1100px;
	padding: 30px;
	background: #F0F8FF;
	margin-left: -8px;
}

#right {
	width: 10%;
	float: right;
	height: 1100px;
	padding: 25px;
	background: #F0F8FF;
	margin-right: -8px;
}

section{
	width:100%;
	float: middle;

}


header {
	background: blue;
	text-align: center;
	font-size: 24px;
	color: white;
	padding: 15px;

}

footer {
	position: fixed;
	background: black;
	color: white;
	height: 15px;
	width: 100%;
	bottom:0;
	margin-left: -8px;
	text-align: center;
	padding-bottom: 40px;
}

#firstimg {
	
	padding-left: 300px;
	float: middle;
	margin-top: 50px;
	
}

#firstvid {
	height: 360px;
	width: 640px;
	float:left;

}

#firstaudio {
	float: left;
}

#song {
	text-align: left;
	padding-top: 400px;
}

#list{
	float:left;
	padding-left: 10px;
	color: blue;
	font: italic small-caps bold 13px/2 cursive;	
}


#ser2img{
	margin-top: 98px;
	margin-bottom: 10px;
	height: 350px;
	width: 754px;
	float: left;
	
}
#ser1img{
	margin-top: 540px;
	margin-bottom: 10px;
	height: 350px;
	width: 754px;
	float: right;
	
}

#firstable{
	float:right;
	margin-right:200px;
	margin-top:-35px;
}

#tableimg{
	height:100px;
	width:100px;	
}

button{	
	margin-top: 35px;
}

